html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

textarea {
  outline: none;
  resize: none;
  font-family: unset;
  scroll-behavior: unset;
  overflow: hidden;
  white-space: break-spaces;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

select, input {
  min-width: 80px;
  min-height: 28px;
  line-height: 28px;
  border: 1px solid #eee;
  padding: 0 6px;
  outline: none;
}

input, button, a, select {
  outline: 0 none;
}

ul {
  list-style-type: none;
}

.txtCenter {
  text-align: center;
}

.selected {
  border: 1px solid rgba(0, 87, 255, .5) !important;
}

.hover {
  z-index: 999 !important;
  border: 2px solid #02dcf7 !important;
}