.main {
  position: relative;
  width: 60%;
  height: calc(100vh - 50px);
  background-color: #EAEAEA;
  .canvas {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    background-color: white;
  }
}